<head><link rel="stylesheet" href="style.css"></head>

<script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
<script>
        var config = {
            "apiKey":"AIzaSyDYhShY6r8950YkorA-w79-NNuIRjmx_Sw",
            "authDomain": "rexburg-order-up.firebaseapp.com",
            "databaseURL": "https://rexburg-order-up.firebaseio.com",
            "storageBucket": "rexburg-order-up.appspot.com"
        };
    firebase.initializeApp(config);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function logMeIn() {
        //Get
        var un = $('#un').val();
        var pw = $('#pw').val();
        firebase.auth().signInWithEmailAndPassword(un, pw).then(function(user) {
            alert("sign in successful");
        }).catch(function(error) {
        // Handle Errors here.
            alert("it failed!");
            var errorCode = error.code;
            var errorMessage = error.message;
        // ...
        });
    }
    function logMeOut() {
        firebase.auth().signOut().then(function() {
          alert("logged out")
        }).catch(function(error) {
        // An error happened.
        });
    }
</script>

<script>
        
</script>

<form method="POST" action="/logUserIn">
    Username: <input id="un" name="username"> <br/>
    Password: <input id="pw" type="password" name="username"> <br/>
    <input type="button" onclick="logMeIn()" value="submit">
    <input type="button" onclick="logMeOut()" value="logout">
</form>