<head><link rel="stylesheet" href="style.css"></head>

<h1 class="loggedin">You are Logged In</h1>
<h1 class="loggedout">You are Logged Out</h1>

<form method="POST" action="/logUserIn">
    Username: <input name="username"> <br/>
    Password: <input type="password" name="username"> <br/>
    <input type="submit" value="submit">
</form>