<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $.ajax({url: "http://localhost:5555/getRestaurants", success: function(result){
                    $.each(result, function(index, value ) {
                        var restaurant = '<div class="restaurant">';
                        restaurant += '<h3 class="restaurant_name">' + value.name + '</h3>';
                        restaurant += '<h4 class="restaurant_email">' + value.address + '</h4>';
                        restaurant += '<button onclick="openOrder(\'' + index + '\')">Order</button></div>'
                        $("#list_restaurants").append(restaurant);
                    });
                }});
            });
        </script>
        <link rel="stylesheet" href="style.css">
    </head>
<body>

<h1>Rexburg Online Ordering</h1>
<div id="list_restaurants"></div>


<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Make Your Meal</h2>

</div>
<div id=clear style="clear:both"></div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
    $(".modal-order").remove();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        $(".modal-order").remove();
    }
}

function encodeQueryData(data) {
   let ret = [];
   for (let d in data)
     ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
   return ret.join('&');
}

function openOrder(restaurant_id) {
    modal.style.display = "block";
    var data = {'restaurant': restaurant_id};
    var queryString = encodeQueryData(data);
    var getURL = "http://localhost:5555/" + "getFoodItems?" + queryString;
    // TO DO: make LOCALHOST a passed in variable to alternate between Heroku and development environments
    $.ajax({url: getURL, success: function(result) {
        $(".modal-content").append('<form class="modal-order"></form>');
        $.each(result, function(index, value) {
            if ($('.modal-order').find('div.' + value.type).length == 0 /*Check if this food-class doesn't exists*/) {
                // Inserts accordion into div
                $(".modal-order").append("<button type=button class=\"accordion\">" + value.type + "</button><div class=\"" + value.type + " panel\"></div>");

                // Set accordion value
                var myAccordion = "." + value.type;
            }
            else {
                // set accordion value
                var myAccordion = "." + value.type;
            }


            var foodItem = '<div class="foodItem">';
            foodItem += '<h3 class="foodItem_name">' + value.name + '</h3>';
            foodItem += '<h4 class="foodItem_price">$' + value.price + '.00</h4>';
            foodItem += '<select name="' + index + '"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>';
            foodItem += '</div>';

            // Append to proper accordion
            $(myAccordion).append(foodItem);
        });
        createAccordions();
        $(".modal-order").append('<input value="Submit" type="submit">');
    }});
}

// ACCORDION LOGIC
function createAccordions() {
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
}
</script>

</body>
</html>