<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $.ajax({url: "/getRestaurants", success: function(result){
                    $.each(result, function(index, value ) {
                        var restaurant = '<div class="restaurant">';
                        restaurant += '<h3 class="restaurant_name">' + value.name + '</h3>';
                        restaurant += '<h4 class="restaurant_email">' + value.address + '</h4>';
                        restaurant += '<button id="submit" onclick="openOrder(\'' + index + '\')">Order</button></div>'
                        $("#list_restaurants").append(restaurant);
                    });
                }});
            });
        </script>
        <link rel="stylesheet" href="style.css">
    </head>
<body>

<h1>Rexburg Online Ordering</h1>
<h3>All your favorite restaurants,<br> available to order</h3>
<div id="list_restaurants"></div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Make Your Meal</h2>

</div>
<div id=clear style="clear:both"></div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

function clearModal() {
    modal.style.display = "none";
    $(".modal-order").remove();
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    clearModal();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        clearModal();
    }
}

function objectifyForm(formArray) {//serialize data function
    var returnArray = {};
    for (var i = 0; i < formArray.length; i++){
    returnArray[formArray[i]['name']] = formArray[i]['value'];
    }
    return returnArray;
}

function submitOrder() {
    var formArray = $('.modal-order').serializeArray();
    var formObject = objectifyForm(formArray);

    $.ajax({
        url: '/makeorder',
        type: 'POST',
        data: formObject,
        success: function(msg) {
            alert(msg.test);
            clearModal();
        }               
    });
}

function encodeQueryData(data) {
   let ret = [];
   for (let d in data)
     ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
   return ret.join('&');
}

function openOrder(restaurant_id) {
    modal.style.display = "block";
    var data = {'restaurant': restaurant_id};
    var queryString = encodeQueryData(data);
    var getURL = "/" + "getFoodItems?" + queryString;
    $.ajax({url: getURL, success: function(result) {
        $(".modal-content").append('<form method=POST action="/makeOrder" class="modal-order"></form>');
        $.each(result, function(index, value) {
            if ($('.modal-order').find('div.' + value.type).length == 0 /*Check if this food-class doesn't exists*/) {
                // Inserts accordion into div
                $(".modal-order").append("<button type=button class=\"accordion\">" + value.type + "</button><div class=\"" + value.type + " panel\"></div>");

                // Set accordion value
                var myAccordion = "." + value.type;
            }
            else {
                // set accordion value
                var myAccordion = "." + value.type;
            }
            var foodItem = '<div class="foodItem">';
            foodItem += '<h3 class="foodItem_name">' + value.name + '</h3>';
            foodItem += '<h4 class="foodItem_price">$' + value.price + '.00</h4>';
            foodItem += '<select name="' + index + '"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>';
            foodItem += '</div>';
            // Append to proper accordion
            $(myAccordion).append(foodItem);
        });
        createAccordions();
        $(".modal-order").append('<input type="hidden" name="restaurant" value="' + restaurant_id + '"><input value="Submit" type="button" onclick="submitOrder()">');
    }});
}

// ACCORDION LOGIC
function createAccordions() {
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
}
</script>

</body>
</html>