<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#getContent").click(function(){
                    $.ajax({url: "http://localhost:5555/getOrders?restaurant=<%= id%>", success: function(result){
                        $.each(result, function( index, value ) {
                            var menuOrder = '<div class="current_order">';
                            menuOrder += '<h4 class="order_name">Order for ' + 'Cameron'/*value.ordererName*/ + ' at ' + /*value.ordererEmail*/'myEmail@email.com' + '</h4>'
                            $.each(value.menuItemsOrdered, function( indexNum, foodItem )  {
                                menuOrder += '<p class="order_item">' + foodItem + '</p>';
                            });
                            
                            $("#list_orders").append(menuOrder + '</div>');
                        });
                    }});
                });
            });
        </script>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
<h1>Restaurants</h1>
<div id="list_orders"><h2>Let jQuery AJAX Change This Text</h2></div>
<button id="getContent">Get External Content</button>
<div class="restaurantBlock">
    <h3>Hello</h3>
</div> 

<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";

    // TO DO: Make a request for a single order or send a single order over to display.
    // TO DO: Insert request into list of orders
    $.ajax({url: "http://localhost:5555/getOrders?restaurant=<%= id%>", success: function(result){
        myNewOrder = result[1] // Sample Order for now 
        myNewOrderDisplay = '<div class="newOrder">';
        myNewOrderDisplay += '<h4 class="order_name">New Order for ' + 'Cameron'/*value.ordererName*/ + ' at ' + /*value.ordererEmail*/'myEmail@email.com' + '</h4>'
        $.each(myNewOrder.menuItemsOrdered, function( indexNum, foodItem )  {
            myNewOrderDisplay += '<p class="new_order_item">' + foodItem + '</p>';
        });
        console.log(myNewOrderDisplay);
        $(".modal-content").append(myNewOrderDisplay + '</div>');
    }});
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
    $(".newOrder").remove();
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        $(".newOrder").remove();
    }
}
</script>

</body>
</html>