<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    $.ajax({url: "http://localhost:5555/getOrders?restaurant=<%= id%>", success: function(result){
                        for (var key in result) {
                            console.log(key);
                            if (result.hasOwnProperty(key)) {
                                var val = result[key];
                                console.log(val);
                            }
                        }
                        console.log(result);
                        $("#div1").html(JSON.stringify(result));
                    }});
                });
            });
        </script>
        <link rel="stylesheet" href="style.css">



    </head>
<body>
<h1>Restaurants</h1>
<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
<button>Get External Content</button>
<div class="restaurantBlock">
    <h3>Hello</h3>
</div>

</body>
</html>